@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header{
    z-index: 10001 !important;
}

.btn-primary{
    @apply px-8 py-4 bg-primary text-xl text-white rounded hover:bg-body hover:text-white hover:-translate-y-4 transition-all duration-300;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
 
/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
 
/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}